body
{
  text-align: center;
  background: linear-gradient(#F06292 0%, #039BE5 100%);
  background-repeat: no-repeat; 
}

h2
{
  font-family: Lora, sans-serif;
}

h1
{
  font-family: Merriweather, serif;
  font-style: italic;
}

p
{
  font-family: Montserrat, sans-serif;
}

#book
{
  height: 400px;
  width: 500px;
  border-radius: 70%;
}

#mainpart
{
  padding:20px;
}
